
{
 dark-primary-color    : #ff2f00
;
 default-primary-color : #ff7300  ;
 light-primary-color   : #ff9900
;
 text-primary-color    : #050049
;
 accent-color          : #ffffff
;
 divider-color         : #ffdc73  ;
}

#optionsBar{
 -fx-min-width: 155;
}

.primaryBackground{
 -fx-background-image: url(/resources/images/aviad/orange.jpg);
 -fx-background-size: stretch;
}
.secondaryBackground{
 -fx-background-color: default-primary-color;
}

.menuBar{
 -fx-background-color : dark-primary-color;
}

.scroll-bar{
 -fx-background-color : light-primary-color;
}
.scroll-bar:vertical > .thumb{
 -fx-background-color : transparent;
 -fx-background-image: url(/resources/images/aviad/bisliVer.png);
 -fx-background-size: stretch auto;
}
.scroll-bar:horizontal > .thumb{
 -fx-background-color : transparent;
 -fx-background-image: url(/resources/images/aviad/bisliHor.png);
 -fx-background-size: auto stretch;
}
.button{
 -fx-background-color : transparent;
 -fx-background-image: url(/resources/images/aviad/bislibutton.png);
 -fx-background-size: stretch stretch;
}
.button > .text{
 -fx-fill : text-primary-color;
 -fx-font-size : 18px;
 -fx-font-family : "Showcard Gothic";
 -fx-font-weight : bold;
 -fx-effect: dropshadow(gaussian, #ffffff,3,0,0,0);
}

.button:hover{
 -fx-background-color : linear-gradient(dark-primary-color, light-primary-color);
}
.toggle-button{
 -fx-background-color : transparent;
 -fx-background-image: url(/resources/images/aviad/ciflibutton.png);
 -fx-background-size: stretch stretch;
}
.toggle-button > .text{
 -fx-fill : text-primary-color;
 -fx-font-size : 15px;
 -fx-font-family : "Showcard Gothic";
 -fx-font-weight : bold;
 -fx-effect: dropshadow(gaussian, #ffffff,3,0,0,0);
}

.toggle-button:hover{
 -fx-background-color : linear-gradient(dark-primary-color, light-primary-color);
 -fx-text-font-size: 18px;
 -fx-border-color: divider-color;
}

.toggle-button:hover > .text{
 -fx-font-size : 16px;
}

.toggle-button:selected{
 -fx-background-color : linear-gradient(dark-primary-color, default-primary-color);
 -fx-effect: innershadow(gaussian,black,10,0.3,1,1);
}

.label{
 -fx-text-fill : text-primary-color;
 -fx-font-size : 14px;
 -fx-font-family : "Showcard Gothic";
 -fx-effect: dropshadow(gaussian, #ffffff,3,0,0,0);
}

.headLines{
 -fx-font-size : 24px;
 -fx-font-family : "Showcard Gothic";
 -fx-text-fill: accent-color;
 -fx-font-weight : bold;
 -fx-effect: innershadow(gaussian, #000000,3,0.2,0.5,0.5);
}

.menu:hover{
 -fx-background-color : linear-gradient(dark-primary-color, light-primary-color);
}

.dialog-pane > .button-bar > .container{
 -fx-background-color: light-primary-color;
}
.dialog-pane{
 -fx-background-color: default-primary-color;
}
.header-panel{
 -fx-background-color: default-primary-color;
}
.searchfilebutton {
 -fx-font-size: 12px;
 -fx-font-family: "Showcard Gothic";
 -fx-background-color: default-primary-color;
}
.title {
 -fx-background-color: default-primary-color;
}
.title > .text{
 -fx-fill: text-primary-color;
 -fx-effect: dropshadow(gaussian, #ffffff,3,0,0,0);
}

.tab-header-background{
 -fx-background-color: dark-primary-color;
}
.tab{
 -fx-background-color: default-primary-color;
 -fx-effect: dropshadow(gaussian, #ffffff,3,0,0,0);
}
.tab-label{
 -fx-text-fill: text-primary-color;
}

.tab:hover{
 -fx-background-color : linear-gradient(default-primary-color, light-primary-color);
}
.tab:selected{
 -fx-background-color: light-primary-color;
}
.text-area {
 -fx-background-color: light-primary-color;
}

#logo {
 -fx-image: url("/resources/images/aviad/aviadLogo.png");
 -fx-repeat: stretch;
 -fx-size: 900 506;
 -fx-position: center center;
 -fx-opacity : 1;
}
.menu-item{
 -fx-background-color: light-primary-color;
}

.text{
 -fx-effect: dropshadow(gaussian, #ffffff,3,0,0,0);
}

.menu-item:hover{
 -fx-background-color: dark-primary-color;
}

.check-box{
 -fx-text-fill: text-primary-color;
}

.radio-button{
 -fx-text-fill: text-primary-color;
}

.list-view{
 -fx-background-color:linear-gradient(orange,darkorange);
 -fx-effect: innershadow(gaussian,orangered,15,0.3,2,2);
}

.table-view{
 -fx-background-color:linear-gradient(orange,darkorange);
 -fx-effect: innershadow(gaussian,orangered,15,0.3,2,2);
}

.table-column > .label{
 -fx-background-color: linear-gradient(default-primary-color, light-primary-color);
 -fx-effect: dropshadow(gaussian, #ffffff,3,0,0,0);
}
.progress-bar:determinate >.bar {
 -fx-background-color : transparent;
 -fx-background-image: url(/resources/images/aviad/bisliHor.png);
 -fx-background-size: auto stretch;
 -fx-effect: innershadow(gaussian,white,3,0.1,1,1);
}
.track{
 -fx-background-color: linear-gradient(default-primary-color, light-primary-color);
 -fx-effect: innershadow(gaussian,black,10,0.3,1,1);
}
.text-area .content{
 -fx-background-color:linear-gradient(orange,darkorange);
 -fx-effect: innershadow(gaussian,orangered,15,0.3,2,2);
}
.selectionButton{
 -fx-pref-width: 127;
 -fx-pref-height: 50;
}
.selectionButton > .text{
 -fx-font-size: 13px;
}
.fileButton{
 -fx-pref-height: 50;
}